@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
*{
  font-family: Montserrat, sans-serif;
}
body{
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #CFCFCF;
}

#wrap{
	width: 1200px;
	margin: 0 auto;
}

@media screen and (max-width:1200px){
  #wrap{
    width: 100%;
    margin: auto;
  }
}

.banner{
  margin:0;
}

.circle {
  margin-right: 15px;
  display: inline-block;
  background-color: lightgrey;
  width: 12px;
  height: 12px;
  border-radius: 50px;
}

.grey{
  background-color: #9E9E9E;
  margin: 0;
}

.logo{
	float: left;
}

.demoImgs{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.demoImgs > img{
  align-self: center;
}

.title{
    text-align: center;
    background: #3B3B3B;
}

.background{
  background-color: #262626;
}
.grid-container {
  display: grid;
  grid-column-gap: 10%;
  grid-template-columns: auto auto;
  grid-template-rows: 5% 5%;
  bottom: 0;
  padding: 10px;
}

.grid-item{
    text-align: center;
    padding-bottom: 5%;
    font-family: Montserrat, sans-serif;
    color: white;
}

.tick{
  vertical-align: middle;
}


h1{
  color: white;
}
span{
  font-weight: bold;
  font-size: 20px;
}

h3{
  margin: 0;
  font-size: 14px;
  color: #F96;
}

h2{
  color: #F96;
}

h1{
  color: #F96;
}

span{
  font-size: 100%
}

.description{
  text-shadow: 2px 2px #000000;
}

