@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
*{
  font-family: Montserrat, sans-serif;
}
body{
  margin: 0;
}

#slideshow {
  margin-bottom: 5px;
  width: 100%;
  height: 20%;
  overflow: hidden;
  white-space: nowrap;
}

#slideshow img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.circle {
  margin-right: 15px;
  display: inline-block;
  background-color: lightgrey;
  width: 12px;
  height: 12px;
  border-radius: 50px;
}

.gray{
  background-color: #262626;
}

.logo{
	float: left;
}

.demoImgs{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.demoImgs > img{
  align-self: center;
}

.title{
    text-align: center;
}

.background{
  background-color: #262626;
}
.grid-container {
  display: grid;
  grid-column-gap: 10%;
  grid-template-columns: auto auto;
  grid-template-rows: 5% 5%;
  bottom: 0;
  padding: 10px;
}

.grid-item{
    text-align: center;
    padding-bottom: 5%;
    font-family: Montserrat, sans-serif;
    color: white;
}

.tick{
  vertical-align: middle;
}
h1{
  color: white;
}
.bottom{
  background: #ffffff
}
span{
  font-size: 100%
}